@import "tailwindcss";

@theme {
  --color-base: #F3F4F6;
  --color-card: #FFFFFF;
  --color-card-hover: #F9FAFB;
  --color-border: #E5E7EB;
  --color-accent: #22C55E;
  --color-accent-hover: #16A34A;
  --color-success: #34D399;
  --color-danger: #F87171;
  --color-warning: #FBBF24;
  --color-muted: #6B7280;
  --color-text: #1F2937;

  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

body {
  background-color: var(--color-base);
  color: var(--color-text);
  font-family: var(--font-sans);
}